.candlesticks__header {
	background: #222;
	margin: 0 auto;
	position: sticky;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 100;
}

.candlesticks__header-label,
.candlestick__value {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 19vw;
}

.MuiListItem-root.candlestick {
	justify-content: center;
	margin: 0.5rem;
}
